body {
  font-family: Arial, sans-serif;
  width: 300px;
  text-align: center;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #3897f0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3173b5;
}
